body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  background-color: #E8F6F7;
  color: #697E7F;
}

nav{
  background-color: #697E7F;
  width:80%;
  margin: 50px auto;
}

nav li{
  display: inline;
  line-height: 86px;
}

nav a{
  color: #E8F6F7;
  text-decoration: none;
  padding-top:35px;
  padding-bottom:35px;
  padding-left:20px;
  padding-right:20px;
}

nav a:visited{
  color:#E8F6F7;
}

nav a:hover{
  color: #D3FEFF;
  background: #437D7F;
  line-height: 80px;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 20px;
  padding-right: 20px;
}
/* nav li:hover{

} */

h1{
  font-size: 40px;
  margin-left: 20px;
  text-shadow: 1px 1px 2px #888;
  align-self: center;
}

.quote{
  float: right;
  font-size: large;
  text-shadow: 1px 1px 2px #888;
  align-self: center;
  max-width: 450px;
  margin-right: 30px;
}

header, section{
  width: 80%;
  margin: 20px auto;
}

header{
  display: flex;
  justify-content: space-between;
}

h2{
  font-size: 28px;
  color:#437D7F;
  text-shadow: 1px 1px 2px #888;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.intro{
  width:500px;
  line-height: 30px;
}

.head-pics{
  width: 450px;
  height: auto;
  display: inline;
}

#imgflex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* test */
#question{
  margin: 5px auto;
  width: 960px;
  height:300px;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  /* font-size: large; */
  color:#fff;
  background-color :rgba(89, 99, 232, 0.795);
}
.testanswer li{
  float: left;
  margin-bottom: 20px;
}

#surveybottom{
  margin: auto;
  width: 960px;
}

#true{
  width:480px;
  height:300px;
  vertical-align: middle;
  line-height: 300px;
  background-color: rgb(105, 126, 127, 0.795);
  color: #fff;
  text-align: center;
  font-size: 100px;
}
#true:hover{
  background-color: #85FCFF;
  color:#697E7F;
}

#false{
  width:480px;
  height:300px;
  vertical-align: middle;
  line-height: 300px;
  background-color: rgba(105, 126, 127, 0.795);
  color: #fff;
  text-align: center;
  font-size: 100px;
}
#false:hover{
  background-color: #85FCFF;
  color:#697E7F;
}
/* forms */
form{
  text-align: center;
  max-width: 275px;
  border: 5px solid rgb(105, 126, 127);
  padding:10px;
  margin: 20px auto;
}
legend{
  margin-bottom: 10px;
  font-size: large;
}
label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}
input{
  margin:2px;
  width:150px;
}
input:focus {
	border: 2px solid #70FFC8;
}
form button {
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 8px;
  text-transform: capitalize;
  /* border: groove; */
  border-radius: 3px;
  background: #437D7F ;
  color: #fff;
  padding: 10px 5px;
  transition: 350ms all;
  cursor: pointer;
}

form button:hover {
  /* border:ridge; */
  background: #85FCFF;
  color: #fff;
  /* border-radius: 50%; */
}
.right{
  float: right;
  width: 480px;
}


.left{
  float: left;
  width: 480px;
}

.button{
  max-width: 200px;
  float: left;
}

.history{
  margin-top: 20px;
  max-width: 500px;
  float: left;
}

button {
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 8px;
  text-transform: capitalize;
  /* border: groove; */
  border-radius: 3px;
  background: #CC444B ;
  color: #fff;
  padding: 10px 5px;
  transition: 350ms all;
  cursor: pointer;
}


button:hover {
  /* border:ridge; */
  background: #E8A959;
  color: #fff;
  /* border-radius: 50%; */
}

/* iq types*/

.IQtypes div{
  min-height:200px;
  margin: 20px;
}

.IQtypes h3{
  text-shadow: 1px 1px 1px #888;
  font-size: larger;
  text-transform: capitalize;
  margin-bottom: 20px;
  line-height: 50px;
  padding-left: 15px;
}

.IQtypes img{
  float:right;
  margin-left: 10px;
  border-radius: 10%;
  width: 200px;
  height: 200px;
}

#linguist h3{
  color:#CC444B;
  background-color: rgba(204, 68, 75, 0.25);
  /* background-color: rgba(224, 255, 98, 0.25); */
}

#logic h3{
  /* color: #437D7F; */
  /* background-color: rgba(67, 125, 127, 0.25); */
  color:#FF6FBB;
  background-color: rgba(255, 111, 188, 0.25);
}

#music h3{
  color:#85FCFF;
  background-color: rgba(133, 253, 255, 0.25);
}

#bodily h3{
  color: #70FFC8;
  background-color: rgba(112, 255, 200, 0.25);
}

#spatial h3{
  color:#5963E8;
  background-color: rgba(89, 99, 232, 0.25);
}

#intra h3{
  color:#FCE958;
  background-color: rgba(224, 255, 98, 0.25);
}

#inter h3{
  color:#e8a959;
  background-color: rgba(232, 170, 89, 0.25);
}

.bios div{
  min-height:200px;
  /* margin: 20px; */
  margin: 50px auto;
}

.bios h3{
  text-shadow: 1px 1px 1px #888;
  font-size: larger;
  text-transform: capitalize;
  margin-bottom: 20px;
  line-height: 50px;
  padding-left: 15px;
}


#about-head {
  text-shadow: 1px 1px 1px #888;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
  line-height: 50px;
  padding-left: 15px;
}


.bios img{
  float: left;
  margin-right: 10px;
  border-radius: 10%;
}