body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  background-color: #E8F6F7;
  color: #697E7F;
}

header, section {
  width: 80%;
  margin: 20px auto;
}

header {
  height: 250px;
}

h1 {
  font-size: 38px;
}

nav {
  background: #437D7F;
  width: 100%;
  margin: 0px auto;
  clear: both;
}

nav li {
  display: inline;
  line-height: 86px;
}

nav a {
  color: #E8F6F7;
  text-decoration: none;
  padding-top:35px;
  padding-bottom:35px;
  padding-left:20px;
  padding-right:20px;
}

nav a:visited {
  color:#E8F6F7;
}

nav a:hover {
  color: #D3FEFF;
  background-color: #697E7F;
  line-height: 80px;
  padding-top:33px;
  padding-bottom:33px;
  padding-left:20px;
  padding-right:20px;
}

#quote {
  font-size: 16px;
}

.rightsmaller {
  float: right;
  margin-top: 32px;
  max-width: 40%;
  text-align: justify;
}

.left {
  float: left;
  max-width: 40%;
}

.body li a {
  color: #437D7F;
  text-decoration: none;
}

.body li a:hover {
  text-decoration: underline;
}

h2 {
  margin-top: 15px;
  font-size: 28px;
  color:#437D7F;
  text-shadow: 1px 1px 2px #888;
  margin-bottom: 8px;
}

p {
  margin-bottom: 25px;
}

.right {
  float: right;
  max-width: 50%;
}

.intro {
  width:500px;
  line-height: 30px;
}

#banner {
  width:100%;
  margin: 0 auto;
  clear: both;
}
#banner-imgs img {
  clip-path: ellipse(45% 50% at 50% 50%);
  max-width: 32%;
}
#banner-imgs li {
  display: inline;
} 

button {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  text-transform: capitalize;
  border-radius: 3px;
  background: #CC444B ;
  color: #fff;
  padding: 10px 5px;
  transition: 350ms all;
  cursor: pointer;
}

#btn {
  float: right;
  margin-bottom: 30px;
}

button:hover {
  background: #E8A959;
  color: #fff;
}

